page-main-menu {
}
.btn{
    // size: 200px;
    // border: none;
    // color: white;
    padding: 0px 61px 0 70px;
    text-align: center;
    background-color: #fe6f69;
    border-radius: 30px;
    // text-decoration: none;
    // display: inline-block;
    // margin: 4px 2px;
}
.btn1{
    padding: 0px 47px 0 40px;
    text-align: center;
    background-color: #fe6f69;
    border-radius: 30px;
}
.btn2{
    padding: 0px 22px 0 17px;
    text-align: center;
    background-color: #fe6f69;
    border-radius: 30px;
}
.button:hover{
    background-color: #fe6f69;
}
